<footer class="page-footer font-small special-color-dark pt-4">
    <!--============================================================================
                                FOOTER ELEMENTS
    =============================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="container">
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/keithjamesmerchantmagnifico" class="fa fa-facebook"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/freestyletear" class="fa fa-github"></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/KeithJa90059609" class="fa fa-twitter"></a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center ">
      <p>Copyright &#169 2021 <span style="font-weight: bold; color: #a81414;">|| Personal Developer Blog ||</span> developed and designed by Keith James</p>
    </div>
  
  </footer>